.playlist {
    display: grid;
    grid-template-areas: "avatar body";
    grid-template-columns: 6.25rem 1fr;
    grid-template-rows: 6.25rem;
    background-color: var(--main-medium-dark-color);
    border-radius: 2rem;
    position: relative;
    top: 20px;
    max-width: 80vw;
    width: 80vw;
    min-width: 500px;
    margin-bottom: 1rem;
}

.fade_in {
    opacity: 1;
    transform: translateY(-20px);
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
    transition: 0.5s;
}
@keyframes fadeInOpacity {
	from {
        transform: translateY(0);
		opacity: 0;
	}
	to {
        transform: translateY(200);
		opacity: 1;
	}
}

.avatarRegion {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: avatar;
    background-color: var(--main-lighter-dark-color);
    border-radius: 50%;
    height: 90%;
    padding: 0.5rem;
    width: 90%;
    place-self: center;
}

.avatar {
    width: 98%;
    height: 98%;
}
.body {
    grid-area: body;
}